# Node modules
node_modules/

# Build output
dist/
dist-electron/
.vite/

# Environment files
.env

# Local DB
server/data.sqlite

# Editor directories
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-error.log*

# OS files
.DS_Store
